<h2 align='center'>Все комментарии пролемы #<%= @problem.id %></h2>
<div class="comments">
  <% @comments.each do |comment| %>
    <div class="show_all_comment">
      <p>“<%= comment.content %>”</p>
      <p><%= link_to "#{problem_url(@problem)}", problem_url(@problem) %></p>
      <span><b><%= comment.user.email %></b></span>,
      <span class="datetime"><%= comment.created_at.strftime("%d %b. %Y, %H:%M") %></span>
      <span class="pull-right">
        <% if current_user == comment.user %>
          <%= link_to ' ', edit_problem_comment_path(comment.problem, comment), class: "fa fa-pencil-square-o", style: 'color: black; text-decoration: none;' %>&nbsp
          <%= link_to ' ', [comment.problem, comment], method: :delete, data: { confirm: 'Вы уверены?'}, class: "fa fa-trash-o", style: 'color: black; text-decoration: none; margin-right: 15px;' %>
        <% end %>
      </span>
    </div>
  <% end %>
</div>
