<h1 align='center'>Create Problem</h1>
<div class="container">
  <%= form_for [current_user, @problem], html: { multipart: true } do |f| %>
    <div class="row adding-page">
      <div class="col-sm-5 description-problem">
        <%= f.label :description %><br>
        <%= f.text_area :description, class: "form-control", placeholder: 'Description...' %>
      </div>

      <div class="col-sm-5 image-problem">
        <%= f.label :image %><br>
        <%= f.file_field :image %><br>
      </div>

    </div>
    <div class="row save-problem">
      <%= f.submit "Save", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
