<%= render 'shared/google_map', type: 'show' %>
<h1>Problem</h1>
<p>Title: <%= @problem.title %></p>
<p>Description: <%= @problem.description %></p>
<p>Status: <%= @problem.status %></p>
<p>
  <% @problem.images.each do | image | %>
    <%= image_tag image.url(:thumb)  %>
  <% end %>
</p>
<section data-lat="<%= @problem.latitude %>" data-lng="<%= @problem.longitude %>">
  <div id='map_canvas'></div>
</section>

<%= render 'comments/comment' %>
