<script async defer src="http://maps.google.com/maps/api/js?key=AIzaSyDgxr_BEXzQRpEtjNbEH5w4EQdgm0GbBGM&callback=showMap"></script>
<h1>Problem</h1>
<p>Title: <%= @problem.title %></p>
<p>Description: <%= @problem.description %></p>
<p>
  <% @problem.images.each do | image | %>
    <%= image_tag image.url(:thumb)  %>
  <% end %>
</p>
<section data-lat="<%= @problem.latitude %>" data-lng="<%= @problem.longitude %>">
  <div id='map_canvas'></div>
</section>
