<%= render 'shared/show_google_map'%>
  <%= form_for @problem do |f| %>
    <div class="admin_problem_show">
      <h1>Проблема #<%= @problem.id %></h1>
      <h3>Название: <%= @problem.title %></h3>
      <p><b style="font-size: 20px">Описание:</b> <%= @problem.description %></p>
      <p><b style="font-size: 20px">Статус:</b> <%= @problem.status.humanize %></p>
      <br>
      <% @problem.images.each do | image | %>
        <%= image_tag image.url(:thumb)  %>
      <% end %>
      </p>
    </div>
    <section data-lat="<%= @problem.latitude %>" data-lng="<%= @problem.longitude %>">
      <div id='map_canvas'></div>
    </section><br>
    <div class="save-problem col-sm-12">
      <div class="text-center">
        <%= f.submit "Сохранить", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
