<%= render 'shared/home_map'%>
<div class="container">
  <div class="row wow fadeIn" data-wow-delay="0.2s">
      <div class="col-md-12">
          <!--Card-->
          <div class="card">

              <!--Card image-->
              <div class="view overlay hm-white-slight">
                  <div id='index_map_canvas'></div>
                  <a href="#">
                      <div class="mask"></div>
                  </a>
              </div>

              <!--Card content-->
              <div class="card-body text-center mb-3">
                  <!--Title-->
                  <h3 class="card-title mt-2 pb-4">
                      <strong>Добавление проблемы</strong>
                  </h3>
                  <!--Text-->
                  <p class="card-text">Fixme — проект борьбы с коррупцией, созданный для тех, кто недоволен состоянием города и хочет это исправить.</p>
                  <%= link_to 'Добавить', new_problem_path, class: "btn btn-success btn-md create" %>
              </div>

          </div>
          <!--/.Card-->
      </div>
  </div>
</div>
<div class="container home_container">
  <h2 class="my-4 in_progress">
    В Процессе
  </h2>
  <div class="in_prog_paginator">
    <!-- <%= paginate @all_in_progress_problems %> -->
  </div>
  <div class="row all_in_progress_problems">
    <% @all_in_progress_problems.each do |inprogress_problem| %>
      <%= link_to problem_path(inprogress_problem.id) do %>
        <div class="col-6 col-sm-3 problem_show">
          <div class="card h-100">
            <div class="card-img-top">
              <%= link_to image_tag "#{inprogress_problem.images.first.url(:thumb)}", class: 'img-fluid' if inprogress_problem.images? %>
            </div>
            <div class="card-body">
              <h4 class="card-title">
                <%= link_to "#{inprogress_problem.title}", problem_path(inprogress_problem.id)%>
              </h4>
              <div class="card-text">
                <%= link_to truncate("#{inprogress_problem.description}", length: 100), problem_path(inprogress_problem.id)%>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= link_to 'Посмотреть все', all_in_progress_problems_path , class: "btn btn-primary pull-right btn-sm all_in_progress_problems_btn" if @all_in_progress_problems.present?%>
  <div class="clearfix hidden-sm-up"></div>
</div>

<div class="container">
  <hr>
</div>

<div class="container resolved_problem">
  <h2 class="my-4 resolved">
    Исправлены
  </h2>
  <div class="row">
    <% @all_resolved_problems.each do |resolved_problem| %>
      <%= link_to problem_path(resolved_problem.id) do %>
        <div class="col-6 col-sm-3 problem_show">
          <div class="card h-100">
            <div class="card-img-top">
              <%= link_to image_tag "#{resolved_problem.images.first.url(:thumb)}", class: 'img-fluid' if resolved_problem.images? %>
            </div>
            <div class="card-body">
              <h4 class="card-title">
                <%= link_to "#{resolved_problem.title}", problem_path(resolved_problem.id)%>
              </h4>
              <div class="card-text">
                <%= link_to truncate("#{resolved_problem.description}", length: 100), problem_path(resolved_problem.id)%>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= link_to 'Посмотреть все', all_resolved_problems_path , class: "btn btn-primary pull-right btn-sm all_resolved_problems_btn" if @all_resolved_problems.present? %>
  <div class="clearfix hidden-sm-up"></div>
</div>
