<%= render 'shared/home_map'%>
<div class="container">
  <div class="row home-map wow fadeIn" data-wow-delay="0.2s">
    <div class="col-md-12">
      <div class="card card_and_map">
        <div class="view overlay hm-white-slight">
            <div id='index_map_canvas'></div>
        </div>
        <div class="card-body text-center mb-3">
          <h3 class="card-title mt-2 pb-4">
            <strong>Добавление проблемы</strong>
          </h3>
          <p class="card-text">Fixme — проект, созданный для тех, кто недоволен состоянием города и хочет это исправить.</p>
          <%= link_to 'Добавить', new_problem_path, class: "btn-lg create" %>
        </div>
      </div>
    </div>
  </div>
  <div class="in_progress_problems">
    <h3 class="my-4  mt-5 pt-4">
      В Процессе
    </h3>
    <div class="row">
      <% @all_in_progress_problems.each do |inprogress_problem| %>
        <div class="col-md-4 in_progress_problem">
          <div class="card mb-r wow fadeIn" data-wow-delay="0.2s">
            <%= image_tag "#{inprogress_problem.images.first.url(:medium)}", class: 'img-fluid' if inprogress_problem.images? %>
            <div class="card-body">
              <h5 class="card-title">
                  <strong><%= "#{inprogress_problem.title}" %></strong>
              </h5>
              <p class="card-text"><%= truncate("#{inprogress_problem.description}", length: 50) %></p>
              <!-- <a href="#" class="btn btn-md view">Просмотр</a> -->
              <%= link_to 'Просмотр', problem_path(inprogress_problem), class: "btn btn-md view" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="resolved_problems">
    <h3 class="my-4  mt-5 pt-4">
      Исправлены
    </h3>
    <div class="row">
      <% @all_resolved_problems.each do |resolved_problem| %>
        <div class="col-md-4 resolved_problem">
          <div class="card mb-r wow fadeIn" data-wow-delay="0.2s">
            <%= image_tag "#{resolved_problem.images.first.url(:medium)}", class: 'img-fluid' if resolved_problem.images? %>
            <div class="card-body">
              <h5 class="card-title">
                  <strong><%= "#{resolved_problem.title}" %></strong>
              </h5>
              <p class="card-text"><%= truncate("#{resolved_problem.description}", length: 50) %></p>
              <!-- <a href="#" class="btn btn-md view">Просмотр</a> -->
              <%= link_to 'Просмотр', problem_path(resolved_problem), class: "btn btn-md view" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class=" mt-5 pt-4">

  </div>
</div>
