<%= render 'shared/home_map'%>
<div class="container">
  <div class="row home-map wow fadeIn" data-wow-delay="0.2s">
    <div class="col-md-12">
      <div class="card card_and_map">
        <div class="view overlay hm-white-slight">
            <div id='index_map_canvas'></div>
        </div>
        <div class="card-body text-center mb-3">
          <h3 class="card-title mt-2 pb-4">
            <strong><%= t ".adding_text" %></strong>
          </h3>
          <p class="card-text"><%= t ".project_description" %></p>
          <%= link_to "#{t ".add_button"}", new_problem_path, class: "btn-lg create" %>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="mt-5 in_prog_label_btn">
      <div class="in_prog_label">
        <h3><%= t ".in_progress_label" %></h3>
      </div>
      <div class="in_prog_btn">
        <%= link_to "#{t ".see_all_button"}", all_in_progress_problems_path , class: "btn btn-primary pull-right btn-sm all_in_progress_problems_btn" if @all_in_progress_problems.present? %>
      </div>
    </div>
    <div class="row">
      <% @all_in_progress_problems.each do |inprogress_problem| %>
        <div class="col-md-4 in_progress_problem">
          <div class="card mb-r wow fadeIn" data-wow-delay="0.2s">
            <%= image_tag "#{inprogress_problem.images.first.url(:thumb)}", class: 'img-fluid' if inprogress_problem.images? %>
            <div class="card-body">
              <h5 class="card-title">
                  <strong><%= "#{inprogress_problem.title}" %></strong>
              </h5>
              <p class="card-text"><%= truncate("#{inprogress_problem.description}", length: 50) %></p>
              <!-- <a href="#" class="btn btn-md view">Просмотр</a> -->
              <%= link_to "#{t ".view"}", problem_path(inprogress_problem), class: "btn btn-md view" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="">
    <div class="mt-5 resolved_label_btn">
      <div class="resolved_label">
        <h3><%= t ".resolved_label" %></h3>
      </div>
      <div class="resolved_btn">
        <%= link_to "#{t ".see_all_button"}", all_resolved_problems_path , class: "btn btn-primary pull-right btn-sm all_resolved_problems_btn" if @all_resolved_problems.present? %>
      </div>
    </div>
    <div class="row">
      <% @all_resolved_problems.each do |resolved_problem| %>
        <div class="col-md-4 resolved_problem">
          <div class="card mb-r wow fadeIn" data-wow-delay="0.2s">
            <%= image_tag "#{resolved_problem.images.first.url(:thumb)}", class: 'img-fluid' if resolved_problem.images? %>
            <div class="card-body">
              <h5 class="card-title">
                  <strong><%= "#{resolved_problem.title}" %></strong>
              </h5>
              <p class="card-text"><%= truncate("#{resolved_problem.description}", length: 50) %></p>
              <!-- <a href="#" class="btn btn-md view">Просмотр</a> -->
              <%= link_to "#{t ".view"}", problem_path(resolved_problem), class: "btn btn-md view" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
