<h1 align='center'>Edit User</h1>
<%= form_for [:admin, @user], html: { multipart: true } do |f| %>
  Email: <%= @user.email %><br>
  Role: <%= f.select :role, User.roles.map { |key, value| [key.humanize, key] } %><br>
  Problems of this user: <% @user.problems.each do |prob| %>
    <%= link_to "#{prob.title}", problem_path(prob.id) %>
  <% end %><br>
  <%= f.submit 'Edit' %>
<% end %>
