<div align="center">
  <h2>Редактирование</h2>
  <div class="user-edit-page form-group">
    <%= form_for [:admin, @user], html: { multipart: true, class: "form-horizontal"  } do |f| %>

      <div class="form-group">
        Email: <%= @user.email %><br>
      </div>

      <div class="form-group">
        Роль: <%= f.select :role, User.roles.map { |key, value| [key.humanize, key] } %><br>
      </div>

      <div class="actions form-group">
        Заявки пользователя: <% @user.problems.each do |prob| %>
          </br><%= link_to "#{prob.title}", problem_path(prob.id) %>
        <% end %>
      </div>
      <%= f.submit 'Сохранить', class: "btn btn-primary" %></br>
    <%= link_to 'Удалить аккаунт', admin_user_path(@user), method: :delete, data: { confirm: 'Are you sure?', method: :delete, class: "btn btn-danger" } %></br>

    <%= link_to "Назад", :back %>
    <% end %>
  </div>
</div>
