<h1 align='center'>Все Пользователи</h1>
<table class="table table-bordered table-hover">
  <thead class="thead-table">
    <tr class="main_orders_table">
      <th>#</th>
      <th>Email</th>
      <th>Статус</th>
      <th>Кол-во созданных проблем</th>
      <th>Действие</th>
    </tr>
  </thead>

  <tbody class="table-striped">
    <% @users.each do |user| %>
      <tr class="main_orders_table">
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= user.problems.count %></td>
        <td>
          <%= link_to 'Показать', edit_admin_user_path(user), class: "show_order" %><br>
          <%= link_to 'Удалить', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
