<div class="container">
  <h2 class="indexHeader"><%= t ".statistic" %></h2>
  <div class="row gran">
    <div class="col-md-3">
      <p>
        <%= @all_problems %>
      </p>
      <h5><%= t ".added_prob_to_site_st" %></h5>
    </div>
    <div class="col-md-3">
      <p class="red">
        <%= @in_progress_problems %>
      </p>
      <h5><%= t ".inprogress_prob_st" %></h5>
    </div>
    <div class="col-md-3">
      <p>
        <%= @resolved_problems %>
      </p>
      <h5><%= t ".resolved_label_st" %></h5>
    </div>
  </div>
</div>
