<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <%= link_to 'Fixme', root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-link active">
              <i class="fa fa-pencil-square-o" aria-hidden="true" style="color: white;"></i>
              <%= link_to "#{t ".profile"}", user_path(current_user), class: "profile" %>
            </li>
            <% if current_user.role == 'user' %>
              <li class="nav-link active">
                <%= link_to "#{t ".my_problems"}", user_problems_path(current_user), class: "profile" %>
              </li>
            <% end %>
            <% if current_user.role == 'moderator' %>
              <li class="nav-link active">
                <%= link_to "#{t ".users"}", users_path, class: "profile" %>
              </li>
              <li class="nav-link active">
                <%= link_to "#{t ".all_problems"}", all_problems_path, class: "profile all_problems" %>
              </li>
              <li class="nav-link active">
                <%= link_to "#{t ".my_problems"}", user_problems_path(current_user), class: "profile" %>
              </li>
            <% end %>
          </ul>
          <% end %>
        </ul>
        <% if user_signed_in? %>
          <ul class="navbar-nav ml-auto">
            <li class="nav-link active">
              <i class="fa fa-sign-out" aria-hidden="true" style="color: white;"></i>
              <%= link_to "#{t ".logout"}", destroy_user_session_path, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn-sm logout" %>
            </li>
          </ul>
        <% else %>
          <ul class="navbar-nav ml-auto">
            <li class="nav-link">
              <i class="fa fa-user" aria-hidden="true" style="color: white;"></i>
              <%= link_to 'Регистрация', new_user_registration_path, class: "btn-sm signup" %>
            </li>
            <li class="nav-link">
              <i class="fa fa-sign-in" aria-hidden="true" style="color: white;"></i>
              <%= link_to 'Вход', new_user_session_path, class: "btn-sm login" %>
            </li>
            <li class="nav-link">
              <span style="color: white; font-size: 13px">или войти</span>&nbsp&nbsp
              <%= link_to " ", user_facebook_omniauth_authorize_path, class: "fa fa-facebook", style: 'color: white; font-size: 18px' %>&nbsp&nbsp
            </li>
          </ul>
        <% end %>
        <div class="form-inline">
            <%= render 'layouts/front/search', class: "form-control mr-sm-2" %>
        </div>
        <div class="languages">
          <%= link_to_unless_current "En", locale: 'en' %> |
          <%= link_to_unless_current "Ru", locale: 'ru' %>
        </div>
      </div>
    </div>
  </nav>
</header>
