<nav class="navbar navbar-expand-lg navbar-light navigation">
  <%= link_to image_tag("logo.png", :alt => "logo", :class => "logo"), root_path, class: 'navbar-brand' %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
      <li class="nav-item">
      </li>
      <li class="nav-item">
      </li>
    </ul>
    <div class="nav-user-actions">
      <div class="user-action">
        <% if user_signed_in? %>
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          <%= link_to 'Profile', edit_user_registration_path, class: "profile" %>
          <%= link_to 'Problems', user_problems_path(current_user), class: "profile" %>
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-sm logout" %>
        <% else %>
          <i class="fa fa-user" aria-hidden="true"></i>
          <%= link_to 'Sign up', new_user_registration_path, class: "btn-sm signup" %>
          <i class="fa fa-sign-in" aria-hidden="true"></i>
          <%= link_to 'Login', new_user_session_path, class: "btn-sm login" %>
        <% end %>
      </div>
      <div class="form-inline search-create form-group has-feedback">
        <input class="form-control" type="text" placeholder="Search..." aria-label="Search">
        <% if user_signed_in? %>
          <%= link_to 'Create', new_user_problem_path(current_user), class: "btn btn-success btn-md create" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
