<!DOCTYPE html>
<html>
   <head>
     <title>fixme.kg - Панель администратора</title>
     <%= csrf_meta_tags %>

     <%= stylesheet_link_tag "application_admin", media: 'all' %>
     <%= javascript_include_tag "application_admin" %>
   </head>
   <body>
     <%= render 'layouts/admin/header' %>
     <div class="flash_error">
       <%= render 'shared/flash_messages' %>
     </div>
     <%= yield %>
   </body>
</html>
